In [103]:
import numpy as np
import pandas as pd
import statistics
from scipy import stats
from math import factorial, comb, perm

# **สถิติและการวิเคราะห์ข้อมูลทางสถิติ**

In [104]:
# ข้อ 1
data = [0, 1, 4, 5, 5, 6, 7, 8, 9, 14, 20]

q1 = np.percentile(data, 25, method='weibull') # หา Q1
q3 = np.percentile(data, 75, method='weibull') # หา Q3
outlier_less = q1 - 1.5*(q3 - q1)
outlier_more = q3 + 1.5*(q3 - q1)

new_data = []

for i in data:
    if i >= outlier_less and i <= outlier_more:
        new_data.append(i)

new_data # มีเพียงค่าเดียวที่ต้องถูกตัดออกคือ 20

[0, 1, 4, 5, 5, 6, 7, 8, 9, 14]

In [105]:
# ข้อ 2
grades = pd.read_csv('datasets/student_grade.csv')
grades['prod_credit_grade'] = grades.credit*grades.grade

gpa_4_1_df = grades[(grades['year'] == 4) & (grades['semester'] == 1)]
gpa_4_1 = sum(gpa_4_1_df.prod_credit_grade)/sum(gpa_4_1_df.credit)
gpa_4_2_df = grades[(grades['year'] == 4) & (grades['semester'] == 2)]
gpa_4_2 = sum(gpa_4_2_df.prod_credit_grade)/sum(gpa_4_2_df.credit)

gpa_5_1_df = grades[(grades['year'] == 5) & (grades['semester'] == 1)]
gpa_5_1 = sum(gpa_5_1_df.prod_credit_grade)/sum(gpa_5_1_df.credit)
gpa_5_2_df = grades[(grades['year'] == 5) & (grades['semester'] == 2)]
gpa_5_2 = sum(gpa_5_2_df.prod_credit_grade)/sum(gpa_5_2_df.credit)

gpa_6_1_df = grades[(grades['year'] == 6) & (grades['semester'] == 1)]
gpa_6_1 = sum(gpa_6_1_df.prod_credit_grade)/sum(gpa_6_1_df.credit)
gpa_6_2_df = grades[(grades['year'] == 6) & (grades['semester'] == 2)]
gpa_6_2 = sum(gpa_6_2_df.prod_credit_grade)/sum(gpa_6_2_df.credit)

gpax = sum(grades.prod_credit_grade)/sum(grades.credit)

print(f'M4 Sem 1 : {gpa_4_1:.2f}')
print(f'M4 Sem 2 : {gpa_4_2:.2f}')
print(f'M5 Sem 1 : {gpa_5_1:.2f}')
print(f'M5 Sem 2 : {gpa_5_2:.2f}')
print(f'M6 Sem 1 : {gpa_6_1:.2f}')
print(f'M6 Sem 2 : {gpa_6_2:.2f}')

print(f'GPAX : {gpax:.2f}')

M4 Sem 1 : 3.89
M4 Sem 2 : 3.90
M5 Sem 1 : 3.69
M5 Sem 2 : 3.74
M6 Sem 1 : 3.48
M6 Sem 2 : 3.83
GPAX : 3.75

In [106]:
# ข้อ 3
ai_results = pd.read_csv('datasets/ai_results.csv')
confusion_matrix = pd.crosstab(ai_results.actual, ai_results.prediction)
confusion_matrix

# ที่เหลือก็อาจจะดูด้วยตาจากตารางแล้วเอามาคิดเลขต่อได้เลย

prediction  butt  elbow  foot  hand  head  knee  none  shoulder
actual
butt          22      0     0     0     0     1    52         0
elbow          0     18     0     0     0     0    55         3
foot           1      2    55     0     0     0    17         0
hand           0      0     0    53     0     0    21         0
head           0      0     0     0    48     0    27         0
knee           0      0     0     0     0    57    17         0
none           1      0     0     1     2     0    24         0
shoulder       0      0     0     0     0     0    54        20

In [107]:
import numpy as np
import pandas as pd

# Load dataset
cafe_df = pd.read_csv('datasets/cafe.csv')

# Split 'duration' into lower and upper bounds
boundary = cafe_df['duration'].str.split('-', expand=True).astype(float)  # Use float for NaN handling
boundary.columns = [0, 1]  # Temporary columns for boundary

# Handle NaN values in the boundary
boundary = boundary.dropna()  # Option 1: Drop rows with NaN in duration
boundary = boundary.astype(int)  # Convert to int after handling NaN

# Calculate midpoint
cafe_df['midpoint'] = (boundary[0] + boundary[1]) / 2

# Add 'lower' and 'upper' columns to the DataFrame
cafe_df[['lower', 'upper']] = boundary

# Handle NaN in dokjik or dokthong
cafe_df['dokjik'] = cafe_df['dokjik'].fillna(0)  # Option 2: Fill missing dokjik with 0
cafe_df['dokthong'] = cafe_df['dokthong'].fillna(0)  # Option 2: Fill missing dokthong with 0

# Calculate mean
mean_dokjik = sum(cafe_df['dokjik'] * cafe_df['midpoint']) / sum(cafe_df['dokjik'])
mean_dokthong = sum(cafe_df['dokthong'] * cafe_df['midpoint']) / sum(cafe_df['dokthong'])

# Print counts
print(f'Count dokjik = {sum(cafe_df["dokjik"])}, Count dokthong = {sum(cafe_df["dokthong"])}')

# Calculate standard deviation for dokjik
sd_dokjik = np.sqrt(
    (
        sum(cafe_df['dokjik'] * cafe_df['midpoint']**2)
        - sum(cafe_df['dokjik']) * mean_dokjik**2
    )
    / sum(cafe_df['dokjik'])
)

sd_dokthong = np.sqrt(
    (
        sum(cafe_df['dokthong'] * cafe_df['midpoint']**2)
        - sum(cafe_df['dokthong']) * mean_dokthong**2
    )
    / sum(cafe_df['dokthong'])
)

# Print results
print(sd_dokjik)
print(sd_dokthong)

Count dokjik = 306, Count dokthong = 393
38.30953353527967
38.71111378570525

# **หลักการนับและความน่าจะเป็น**

In [108]:
# ข้อ 5
'''
เลขอยู่ระหว่าง 1,000 - 6,000
หลักพันจะเป็นได้แค่ 1, 3, 5 เท่านั้น (3 แบบ)
หลักร้อยเป็นได้แค่ 1, 3, 5, 7, 9 และไม่ซ้ำกับหลักพัน (4 แบบ)
หลักสิบเป็นได้แค่ 1, 3, 5, 7, 9 และไม่ซ้ำกับทั้งสองหลักก่อนหน้า (3 แบบ)
หลักหน่วยเป็นได้แค่ 1, 3, 5, 7, 9 และไม่ซ้ำกับข้างบน (2 แบบ)
'''

3*4*3*2

72

In [109]:
# ข้อ 6

# C6,2 (แจกโดนัทให้ลูกคนแรก) -> C4,2 (แจกให้อีกคน) -> C2,2 (แจกที่เหลือให้เด็กอีกคน)

comb(6, 2) * comb(4, 2) * comb(2, 2)

90

In [110]:
# ข้อ 7

# แบ่งคิดตามกรณีข้ออัตนัย
correct_0 = ((75-0)/3)+1
correct_1 = 26
correct_2 = 26
correct_3 = (90-75)/3
correct_4 = (95-80)/3
correct_5 = (100-85)/3

sum([correct_0, correct_1, correct_2, correct_3, correct_4, correct_5])

93.0

In [111]:
# ข้อ 8

''' 
จำนวนวิธีทั้งหมด n(S) : หยิบสองจำนวนจากเซตจะได้ C150,2 
จำนวนวิธีที่สนใจ n(E) : จำนวนคู่ที่หารด้วย 3 ลงตัวคือจำนวนที่หารด้วย 6 ลงตัว ก็จะมี 6, 12, 18, ..., 150 มี ((150-6)/6)+1 จำนวน
แล้วค่อยหยิบ 2 จาก 25 จำนวน จะได้ C25,2
'''

nS = comb(150, 2)
nE = comb(25, 2)
nE/nS

0.026845637583892617

In [112]:
# ข้อ 9

'''
เลือก 1 ห้องจาก 99 ห้อง ที่จะมีคนพัก 2 คน (99 วิธี)
จะเหลือ 98 ห้อง เลือก 98 คน มาเรียงลง 98 ห้องที่เหลือ (ห้องละ 1 คน จะได้ P100,98)
'''

99*perm(100, 98)

4619647664475235557744112323385201674290440429086890262695351712813271199664880822642602466819747655169558047080947576033433667940384768000000000000000000000000

In [113]:
# ข้อ 10

'''
การทายของข้าวฟ่างจะคล้ายกับการเอาตัวอักษร "ชชชรรนน" มาเรียงใหม่
n(E) = 1 ถูกต้องได้แค่วิธีเดียว
n(S) = 7!/(3!2!2!)
'''

1/(factorial(7)/(factorial(3)*factorial(2)*factorial(2)))

0.004761904761904762

In [124]:
# ข้อ 11

comb(5,2) + comb(5,3) + comb(5,4) + comb(5,5)

26

# **การแจกแจงตัวแปรสุ่มและความน่าจะเป็น**

In [115]:
# ข้อ 12

sum([stats.binom.pmf(k=i, p=0.02, n=10) for i in range(2)])

np.float64(0.9838223593135764)

In [116]:
# ข้อ 13

sum([stats.binom.pmf(k=i, p=0.002, n=500) for i in range(2)])

np.float64(0.7357590052150336)

In [117]:
# ข้อ 14

math_avg = 68
math_sd = 4
eng_avg = 75
eng_sd = 9

z_krai_math = (76-math_avg)/math_sd
z_krai_eng = (95-eng_avg)/eng_sd
z_khet_math = (78-math_avg)/math_sd
z_khet_eng = (84-eng_avg)/eng_sd
z_kanin_math = (70-math_avg)/math_sd
z_kanin_eng = (93-eng_avg)/eng_sd

if (z_krai_math >= 2 and z_krai_eng >= 2):
    print('Krai')
if (z_khet_math >= 2 and z_khet_eng >= 2):
    print('Khet')
if (z_kanin_math >= 2 and z_kanin_eng >= 2):
    print('kanin')

Krai

In [118]:
# ข้อ 15

print(stats.poisson.pmf(mu=3, k=5)) # 15.1
print(stats.poisson.pmf(mu=3, k=1) + stats.poisson.pmf(mu=3, k=0)) # 15.2
print(stats.poisson.pmf(mu=3, k=0)) # 15.3

0.10081881344492458
0.1991482734714558
0.049787068367863944

In [119]:
# ข้อ 16

print(stats.poisson.pmf(mu=1200, k=314)) # 16.1
print(1 - sum([stats.poisson.pmf(mu=1200, k=i) for i in range(700)])) # 16.2
print(1 - sum([stats.poisson.pmf(mu=1200, k=i) for i in range(1201)])) # 16.3

2.4798235549207727e-204
1.0
0.49232316970037904

In [120]:
# ข้อ 17

print(stats.poisson.pmf(mu=48, k=0)) # 17.1
print(stats.poisson.pmf(mu=48, k=34)) # 17.2

1.4251640827409352e-21
0.007012975721723234

In [121]:
# ข้อ 18

print(sum([stats.binom.pmf(k=i, p=0.85, n=7) for i in range(4)])) # A < 4 วิชา
print(stats.binom.pmf(k=0, p=0.85, n=7)) # A = 0 วิชา

0.01210317187500001
1.7085937500000036e-06

In [122]:
# ข้อ 19

z_tgat = (79.166-49.675)/12.393
z_tgat1 = (91.666-40.417)/18.813
z_tgat2 = (66.250-46.473)/15.733
z_tgat3 = (79.583-62.134)/12.473
z_tpat3 = (50.666-44.055)/10.619

print(f'TGAT : {z_tgat}')
print(f'TGAT1 : {z_tgat1}')
print(f'TGAT2 : {z_tgat2}')
print(f'TGAT3 : {z_tgat3}')
print(f'TPAT3 : {z_tpat3}')

TGAT : 2.379649802307754
TGAT1 : 2.7241269335034284
TGAT2 : 1.2570393440538994
TGAT3 : 1.3989417141024612
TPAT3 : 0.6225633298804027

In [123]:
# ข้อ 20

if (z_tgat >= 2.5 and z_tpat3 >= 0.75):
    print('CPE CU')
if (z_tgat >= 2.25 and z_tgat2 > 1.25 and z_tpat3 >= 0.8):
    print('CS CU')
if (z_tgat1 >= 2.5 and z_tpat3 >= 0.5):
    print('CS KU')
if (z_tgat >= 1.25 and z_tpat3 > 0.7):
    print('CPE KU')
if (z_tgat >= 2.38 and z_tgat2 >= 1.2):
    print('SHI CU')

CS KU